[user]
    name = seem
    email = mwlorgat@gmail.com
[merge]
    tool = vimdiff
[alias]
    # Based on: https://gist.github.com/mwhite/6887990
    # one-line log
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

    a = add
    ap = add -p
    c = commit --verbose
    ca = commit -a --verbose
    cm = commit -m
    cam = commit -a -m
    m = commit --amend --verbose

    d = diff
    ds = diff --stat
    dc = diff --cached

    p = push
    l = pull
    r = rebase

    s = status --short --branch
    co = checkout
    cob = checkout -b
    # list branches sorted by last modified
    # TODO: Temp disable because it's not working
    # b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

    # list aliases
    # TODO: Fix this...
    la = "config --get-regexp alias | sed -e 's/alias//'"
[init]
    defaultBranch = main
[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    line-numbers = true
    minus-emph-style = syntax "#800000"
    minus-style = syntax "#4d0000"
    plus-emph-style = syntax "#005c99"
    plus-style = syntax "#002e4d"
