zsh/.zsh/completion
zsh/.zsh/history
*.el~
.mypy_cache
.netrwhist
vim/.vim/autoload/
vim/.vim/plugged/
vim/.vim/plugin/
vim/.vim/tmp/
vim/.config/nvim/plugin/
.DS_Store
emacs/.emacs.d/
!emacs/.emacs.d/init.el
Brewfile.lock.json
karabiner/.config/karabiner/
ipython/.ipython/profile_default/history.sqlite
