{:tos {:same_wind_app {:key :grave_accent_and_tilde :modi [:left_command] :lazy true}}

 :applications {:emacs-disabled ["^net\\.sourceforge\\.iTerm$"]
                :firefox        ["^org\\.mozilla\\.firefox$"]
                :iterm          ["^net\\.sourceforge\\.iTerm$"]}

 :devices {:wasd              [{:vendor_id 1241 :product_id 321}]
           :macbook-internal  [{:vendor_id 1452 :product_id 631}]}

 :templates {:open "open \"%s\""}

 :simlayers {:launch-mode {:key :w}}

 :main [{:des   "caps to ctrl"
         :rules [[:##caps_lock :left_control]]}
        {:des   "global emacs keys"
         :rules [:!emacs-disabled
                 [:!T##b :left_arrow]
                 [:!T##p :up_arrow]
                 [:!T##n :down_arrow]
                 [:!T##f :right_arrow]]}
        {:des   "fn arrow keys"
         :rules [:macbook-internal
                 [:!F##j :left_arrow]
                 [:!F##i :up_arrow]
                 [:!F##k :down_arrow]
                 [:!F##l :right_arrow]]}
        {:des   "ctrl-[ to esc"
         :rules [[:!Topen_bracket :escape]]}
        {:des   "meta key"
         :rules [[:!Ob :!Oleft_arrow]
                 [:!Of :!Oright_arrow]
                 [:!Od :!Odelete_forward :!iterm]
                 [:!Od [:escape :d] :iterm]
                 [:!Oh :!Odelete_or_backspace]]}
        {:des   "esc key on 60 key kb"
         :rules [[:##escape :##grave_accent_and_tilde :wasd]
                 [:!S##escape :!Sgrave_accent_and_tilde :wasd]
                 [:grave_accent_and_tilde :escape :wasd]]}
        {:des   "launch mode"
         :rules [:launch-mode
                 [:i [:open "/Applications/iTerm.app"]]
                 [:f [:open "/Applications/Firefox.app"] :!firefox]
                 [:f :same_wind_app :firefox]
                 [:m [:open "/Applications/Spotify.app"]]
                 [:s [:open "/Applications/Slack.app"]]
                 [:v [:open "/Applications/MacDown.app"]]
                 [:t [:open "/Applications/Things3.app"]]
                 [:a [:open "/Applications/Alfred 4.app"]]]}
 :simlayer-threshold 210]}
