{:profiles
 {:Default {:default true
            :sim 50
            :delay 80
            :alone 120
            :held 70}}

 :tos {:same_wind_app {:key :grave_accent_and_tilde :modi [:left_command] :lazy true}
       :left_paren    {:key :9 :modi [:left_shift] :lazy true}
       :right_paren   {:key :0 :modi [:left_shift] :lazy true}}

 :froms {:left_shift_alone {:key :left_shift :alone true}}

 :applications {:emacs-disabled ["^com\\.googlecode\\.iterm2$"
                                 "^org\\.gnu\\.Emacs$"]
                :firefox        ["^org\\.mozilla\\.firefox$"]
                :iterm          ["^com\\.googlecode\\.iterm2$"]
                :bear           ["^net\\.shinyfrog\\.bear$"]}

 :devices {:wasd              [{:vendor_id 1241 :product_id 321}]
           :macbook-internal  [{:vendor_id 1452 :product_id 631}]}

 :templates {:open "open \"%s\""}

 :simlayers {:launch-mode {:key :w}}

 :main [{:des   "caps to ctrl"
         :rules [[:##caps_lock :left_control]]}
        {:des   "global emacs keys"
         :rules [:!emacs-disabled
                 [:!T##b :left_arrow]
                 [:!T##p :up_arrow]
                 [:!T##n :down_arrow]
                 [:!T##f :right_arrow]
                 [:!T##m :return_or_enter]
                 [:!T##h :delete_or_backspace]]}
        ; {:des   "disable non emacs"
         ; :rules [[:##return_or_enter ""]
                 ; [:##delete_or_backspace ""]]}
         ; :rules [[:##delete_or_backspace ""]]}
        {:des   "fn arrow keys"
         :rules [:macbook-internal
                 [:!F##j :left_arrow]
                 [:!F##i :up_arrow]
                 [:!F##k :down_arrow]
                 [:!F##l :right_arrow]]}
        {:des   "ctrl-[ to esc"
         :rules [[:!Topen_bracket :escape]]}
        {:des   "meta key"
         :rules [[:!O#Sb :!Oleft_arrow :!iterm]
                 [:!O#Sf :!Oright_arrow :!iterm]
                 [:!Od :!Odelete_forward :!iterm]
                 [:!Oh :!Odelete_or_backspace]
                 [:!Ob [:escape :b] :iterm]
                 [:!Of [:escape :f] :iterm]
                 [:!Od [:escape :d] :iterm]]}
                 ; [:!Oh [:escape :h] :iterm]]}
        {:des   "esc key on 60 key kb"
         :rules [[:##escape :##grave_accent_and_tilde :wasd]
                 [:!S##escape :!Sgrave_accent_and_tilde :wasd]
                 [:grave_accent_and_tilde :escape :wasd]]}
        ; {:des   "launch mode"
        ;  :rules [:launch-mode
        ;         [:i [:open "/Applications/iTerm.app"]]
        ;         [:f [:open "/Applications/Firefox.app"] :!firefox]
        ;         [:f :same_wind_app :firefox]
        ;         [:m [:open "/Applications/Spotify.app"]]
        ;         [:k [:open "/Applications/Slack.app"]]
        ;         [:v [:open "/Applications/MacDown.app"]]
        ;         [:t [:open "/Applications/Things3.app"]]
        ;         [:a [:open "/Applications/Alfred 4.app"]]]}
        ; {:des   "shift parens"
        ;  :rules [[:left_shift :left_shift nil {:alone :left_paren}]
        ;          [:right_shift :right_shift nil {:alone :right_paren}]]}
        ; {:des   "bear"
        ;  :rules [[:!Copen_bracket :!C :bear]]}
        ; TODO: Make this a toggle-able mode. Maybe move back to Ctrl-b as tmux prefix
        ; {:des   "iterm tmux"
        ;  :rules [:iterm
        ;          ; Tabs
        ;          [:!Ct [:!Tt :c]]
        ;          [:!CSd [:!Tt :s]]
        ;          [:!Cd [:!Tt :v]]
        ;          [:!CSopen_bracket [:!Tt :p]]
        ;          [:!CSclose_bracket [:!Tt :n]]
        ;          [:!C1 [:!Tt :1]]
        ;          [:!C2 [:!Tt :2]]
        ;          [:!C3 [:!Tt :3]]
        ;          [:!C4 [:!Tt :4]]
        ;          [:!C5 [:!Tt :5]]
        ;          [:!C6 [:!Tt :6]]
        ;          [:!C7 [:!Tt :7]]
        ;          [:!C8 [:!Tt :8]]
        ;          [:!C9 [:!Tt :9]]
        ;          [:!C0 [:!Tt :0]]
        ;          ; Panes
        ;          [:!Cl [:!Tt :l]]
        ;          [:!Ch [:!Tt :h]]
        ;          [:!Ck [:!Tt :k]]
        ;          [:!Cj [:!Tt :j]]]}
:simlayer-threshold 210
 :alone 120]}
